{% extends "admin_layout.jinja" %}

{% block admin_content %}
<h2 class="apollo-mb-2">Create new user</h2>

{% if not should_hide_form %}
<form id="new_user_form" action="" method="POST">
  <bx-form-item>
    <bx-input required name="name" form_id="new_user_form">
      <span slot="label-text">Name</span>
    </bx-input>
    <bx-input required name="email" type="email" form_id="new_user_form">
      <span slot="label-text">Email</span>
    </bx-input>
    <label for="role" class="apollo-form-label">Role</label>
    <select name="role" id="role" form="new_user_form" class="apollo-form-select" required>
      <option value="">Select a role...</option>
      <option value="admin">Admin</option>
      <option value="elevated">Elevated</option>
    </select>
    <p>A random password will be generated on creation</p>
    <bx-btn type="submit" class="apollo-mt-2 apollo-mb-2" form_id="new_user_form">
      Create new user
    </bx-btn>
  </bx-form-item>
</form>
{% else %}
{% endif %}
{% if error %}
<div class="apollo-notification-wrapper">
  <h5 class="apollo-notification-error">
    {{ error }}
  </h5>
</div>
{% endif %}
{% if gen_password %}
<div class="apollo-notification-wrapper">
  <h5 class="apollo-notification-success">
    User {{ email }} successfully created with password {{ gen_password }}
  </h5>
</div>
{% endif %}
{% endblock %}