name: Lint and test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "errata-csaf-initiative" ]

jobs:
  lint_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Setup Bazel
      uses: bazelbuild/setup-bazelisk@v3
      continue-on-error: true

    - name: Setup
      run: ./build/scripts/setup.bash

    - name: Lint
      run: ./build/scripts/pylint.bash

    - name: Unit Tests
      run: |
        bazel test //apollo/tests:test_rpm_helpers --test_output=all
        bazel test //apollo/tests:test_rhcsaf --test_output=all
        bazel test //apollo/tests:test_csaf_processing --test_output=all
        bazel test //apollo/tests:test_api_keys --test_output=all
        bazel test //apollo/tests:test_auth --test_output=all
        bazel test //apollo/tests:test_api_updateinfo --test_output=all
        bazel test //apollo/tests:test_validation --test_output=all
        bazel test //apollo/tests:test_admin_routes_supported_products --test_output=all
        bazel test //apollo/tests:test_api_osv --test_output=all
        bazel test //apollo/tests:test_database_service --test_output=all
        bazel test //apollo/tests:test_rh_matcher_activities --test_output=all

    - name: Integration Tests
      run: ./build/scripts/test.bash
